flask
flask-cors
flask-session
yfinance
pandas
requests
pytest
pytest-cov
python-dotenv
google-genai
google-auth
google-auth-oauthlib
edgartools
gunicorn
tradingview-screener
beautifulsoup4
lxml
psycopg[binary]
psycopg_pool
scipy
pytest-playwright
scikit-optimize
debugpy
