flask
flask-cors
flask-session
yfinance
pandas
requests
pytest
python-dotenv
google-generativeai
google-auth
google-auth-oauthlib
edgartools
gunicorn
tradingview-screener
beautifulsoup4
lxml
psycopg2-binary
scipy
pytest-playwright
scikit-optimize
debugpy
